<ion-app>
  

  <ion-menu side="start" menuId="placesMenu">
    <ion-header>
      <ion-toolbar>
        <ion-title>UTS 22732</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle menu="placesMenu">
          <ion-item lines="none" routerLink="/homes">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>homes</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="placesMenu">
          <ion-item lines="none" routerLink="/admins">
            <ion-icon name="archive-outline" slot="start"></ion-icon>
            <ion-label>admin</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="placesMenu">
          <ion-item lines="none" routerLink="/profile">
            <ion-icon name="person-circle-outline" slot="start"></ion-icon>
            <ion-label>profile</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle menu="placesMenu">
          <ion-item lines="none" routerLink="/places">
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-label>Log Out</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>